/**********************************************************************************/
/* Categories Grid ****************************************************************/
/**********************************************************************************/
article .categories_grid {
  margin-bottom: 0px; }

.categories_grid:before,
.categories_grid:after {
  content: " ";
  display: table; }

.categories_grid .category_grid_box,
.category_list .category_grid_box {
  overflow: hidden;
  position: relative;
  display: block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.category_list .category_grid_box {
  height: 0;
  padding-bottom: 100%; }

.categories_grid .category_item,
.category_list .category_item {
  display: table !important;
  width: 100%;
  color: #fff;
  position: relative;
  border-spacing: 0; }

.category_list .category_item:hover {
  opacity: 1; }

.category_list.category_thumbs .category_name {
  padding-bottom: calc(100% - 33px); }

.category_item_bkg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  max-width: none;
  min-height: 100.6%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

.categories_grid .category_grid_box:hover .category_item_bkg,
.category_list .category_grid_box:hover .category_item_bkg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.categories_grid .category_name,
.category_list .category_name {
  width: 100%;
  display: table-cell;
  line-height: 1.333em;
  padding: 33px 30px;
  font-size:20px;
  text-decoration:none;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  position: relative;
  z-index: 2; }

.categories_grid .category_name:hover,
.category_list .category_name:hover {
  background: rgba(0, 0, 0, 0.6); }

 @media screen and (min-width: 40em) {
  .categories_grid .category_1 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_1 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_1:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_2 {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_2 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_2:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_3 {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_3 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_3:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_4 {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: right;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_4 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_4:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_5 {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_5 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_5:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_6 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_6 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_6:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_more_than_6 {
    width: 33.33333%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_more_than_6 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_more_than_6:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_original_grid {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_original_grid {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_original_grid:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_five_cat_1 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_five_cat_1 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_five_cat_1:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_five_cat_2 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: right;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_five_cat_2 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_five_cat_2:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_five_cat_3 {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: right;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_five_cat_3 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_five_cat_3:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_five_cat_4 {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: right;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_five_cat_4 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_five_cat_4:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_five_cat_5 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_five_cat_5 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_five_cat_5:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_four_cat_1 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_four_cat_1 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_four_cat_1:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_four_cat_2 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_four_cat_2 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_four_cat_2:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_four_cat_3 {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_four_cat_3 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_four_cat_3:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_four_cat_4 {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_four_cat_4 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_four_cat_4:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_three_cat_1 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_three_cat_1 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_three_cat_1:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_three_cat_2 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_three_cat_2 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_three_cat_2:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_three_cat_3 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_three_cat_3 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_three_cat_3:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_two_cat_1 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_two_cat_1 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_two_cat_1:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_two_cat_2 {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_two_cat_2 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_two_cat_2:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_one_cat_1 {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    float: left;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (min-width: 40em) {
    .categories_grid .category_one_cat_1 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) {
    .categories_grid .category_one_cat_1:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_1 .category_item,
  .categories_grid .category_2 .category_item,
  .categories_grid .category_4 .category_item,
  .categories_grid .category_five_cat_1 .category_item,
  .categories_grid .category_five_cat_3 .category_item,
  .categories_grid .category_five_cat_4 .category_item,
  .categories_grid .category_four_cat_1 .category_item,
  .categories_grid .category_three_cat_1 .category_item,
  .categories_grid .category_two_cat_1 .category_item,
  .categories_grid .category_two_cat_2 .category_item,
  .categories_grid .category_one_cat_1 .category_item {
    height: 34.16667rem; }
  .categories_grid .category_3 .category_item,
  .categories_grid .category_5 .category_item,
  .categories_grid .category_6 .category_item,
  .categories_grid .category_more_than_6 .category_item,
  .categories_grid .category_five_cat_2 .category_item,
  .categories_grid .category_five_cat_5 .category_item,
  .categories_grid .category_four_cat_2 .category_item,
  .categories_grid .category_four_cat_3 .category_item,
  .categories_grid .category_four_cat_4 .category_item,
  .categories_grid .category_three_cat_2 .category_item,
  .categories_grid .category_three_cat_3 .category_item {
    height: 16.45833rem; }
  .categories_grid .category_original_grid .category_item {
    height: 8.02083rem; } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .categories_grid .category_original_grid {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    margin-bottom: 1.25rem; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) and (min-width: 40em) {
    .categories_grid .category_original_grid {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .categories_grid .category_original_grid:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_1 .category_item,
  .categories_grid .category_2 .category_item,
  .categories_grid .category_4 .category_item,
  .categories_grid .category_five_cat_1 .category_item,
  .categories_grid .category_five_cat_3 .category_item,
  .categories_grid .category_five_cat_4 .category_item,
  .categories_grid .category_four_cat_1 .category_item,
  .categories_grid .category_three_cat_1 .category_item,
  .categories_grid .category_two_cat_1 .category_item,
  .categories_grid .category_two_cat_2 .category_item,
  .categories_grid .category_one_cat_1 .category_item {
    height: 16.45833rem; }
  .categories_grid .category_3 .category_item,
  .categories_grid .category_5 .category_item,
  .categories_grid .category_6 .category_item,
  .categories_grid .category_more_than_6 .category_item,
  .categories_grid .category_five_cat_2 .category_item,
  .categories_grid .category_five_cat_5 .category_item,
  .categories_grid .category_four_cat_2 .category_item,
  .categories_grid .category_four_cat_3 .category_item,
  .categories_grid .category_four_cat_4 .category_item,
  .categories_grid .category_three_cat_2 .category_item,
  .categories_grid .category_three_cat_3 .category_item {
    height: 7.60417rem; }
  .categories_grid .category_original_grid .category_item {
    height: 10.97222rem; }
  .columns-1 .category_list .category_item,
  .columns-2 .category_list .category_item,
  .columns-3 .category_list .category_item,
  .columns-4 .category_list .category_item,
  .columns-5 .category_list .category_item,
  .columns-6 .category_list .category_item {
    height: 8.02083rem; } }

@media screen and (max-width: 39.9375em) {
  .categories_grid .category_1,
  .categories_grid .category_2,
  .categories_grid .category_3,
  .categories_grid .category_4,
  .categories_grid .category_5,
  .categories_grid .category_6,
  .categories_grid .category_more_than_6,
  .categories_grid .category_original_grid,
  .categories_grid .category_five_cat_1,
  .categories_grid .category_five_cat_2,
  .categories_grid .category_five_cat_3,
  .categories_grid .category_five_cat_4,
  .categories_grid .category_five_cat_5,
  .categories_grid .category_four_cat_1,
  .categories_grid .category_four_cat_2,
  .categories_grid .category_four_cat_3,
  .categories_grid .category_four_cat_4,
  .categories_grid .category_three_cat_1,
  .categories_grid .category_three_cat_2,
  .categories_grid .category_three_cat_3,
  .categories_grid .category_two_cat_1,
  .categories_grid .category_two_cat_2,
  .categories_grid .category_one_cat_1 {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    margin-bottom: 1.25rem; } }
  @media screen and (max-width: 39.9375em) and (min-width: 40em) {
    .categories_grid .category_1,
    .categories_grid .category_2,
    .categories_grid .category_3,
    .categories_grid .category_4,
    .categories_grid .category_5,
    .categories_grid .category_6,
    .categories_grid .category_more_than_6,
    .categories_grid .category_original_grid,
    .categories_grid .category_five_cat_1,
    .categories_grid .category_five_cat_2,
    .categories_grid .category_five_cat_3,
    .categories_grid .category_five_cat_4,
    .categories_grid .category_five_cat_5,
    .categories_grid .category_four_cat_1,
    .categories_grid .category_four_cat_2,
    .categories_grid .category_four_cat_3,
    .categories_grid .category_four_cat_4,
    .categories_grid .category_three_cat_1,
    .categories_grid .category_three_cat_2,
    .categories_grid .category_three_cat_3,
    .categories_grid .category_two_cat_1,
    .categories_grid .category_two_cat_2,
    .categories_grid .category_one_cat_1 {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }

@media screen and (max-width: 39.9375em) {
    .categories_grid .category_1:last-child:not(:first-child),
    .categories_grid .category_2:last-child:not(:first-child),
    .categories_grid .category_3:last-child:not(:first-child),
    .categories_grid .category_4:last-child:not(:first-child),
    .categories_grid .category_5:last-child:not(:first-child),
    .categories_grid .category_6:last-child:not(:first-child),
    .categories_grid .category_more_than_6:last-child:not(:first-child),
    .categories_grid .category_original_grid:last-child:not(:first-child),
    .categories_grid .category_five_cat_1:last-child:not(:first-child),
    .categories_grid .category_five_cat_2:last-child:not(:first-child),
    .categories_grid .category_five_cat_3:last-child:not(:first-child),
    .categories_grid .category_five_cat_4:last-child:not(:first-child),
    .categories_grid .category_five_cat_5:last-child:not(:first-child),
    .categories_grid .category_four_cat_1:last-child:not(:first-child),
    .categories_grid .category_four_cat_2:last-child:not(:first-child),
    .categories_grid .category_four_cat_3:last-child:not(:first-child),
    .categories_grid .category_four_cat_4:last-child:not(:first-child),
    .categories_grid .category_three_cat_1:last-child:not(:first-child),
    .categories_grid .category_three_cat_2:last-child:not(:first-child),
    .categories_grid .category_three_cat_3:last-child:not(:first-child),
    .categories_grid .category_two_cat_1:last-child:not(:first-child),
    .categories_grid .category_two_cat_2:last-child:not(:first-child),
    .categories_grid .category_one_cat_1:last-child:not(:first-child) {
      float: right; }
  .categories_grid .category_1 .category_item,
  .categories_grid .category_2 .category_item,
  .categories_grid .category_3 .category_item,
  .categories_grid .category_4 .category_item,
  .categories_grid .category_5 .category_item,
  .categories_grid .category_6 .category_item,
  .categories_grid .category_more_than_6 .category_item,
  .categories_grid .category_original_grid .category_item,
  .categories_grid .category_five_cat_1 .category_item,
  .categories_grid .category_five_cat_2 .category_item,
  .categories_grid .category_five_cat_3 .category_item,
  .categories_grid .category_five_cat_4 .category_item,
  .categories_grid .category_five_cat_5 .category_item,
  .categories_grid .category_four_cat_1 .category_item,
  .categories_grid .category_four_cat_2 .category_item,
  .categories_grid .category_four_cat_3 .category_item,
  .categories_grid .category_four_cat_4 .category_item,
  .categories_grid .category_three_cat_1 .category_item,
  .categories_grid .category_three_cat_2 .category_item,
  .categories_grid .category_three_cat_3 .category_item,
  .categories_grid .category_two_cat_1 .category_item,
  .categories_grid .category_two_cat_2 .category_item,
  .categories_grid .category_one_cat_1 .category_item {
    height: 13.33333rem; }
  .columns-1 .category_list .category_item {
    height: 16.45833rem; }
  .columns-2 .category_list .category_item {
    height: 23.01136rem; }
  .columns-3 .category_list .category_item {
    height: 14.96212rem; }
  .columns-4 .category_list .category_item {
    height: 10.9375rem; }
  .columns-5 .category_list .category_item {
    height: 8.52273rem; }
  .columns-6 .category_list .category_item {
    height: 6.91288rem; } }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .columns-1 .category_list .category_item {
    height: 16.45833rem; }
  .columns-2 .category_list .category_item {
    height: 31.64062rem; }
  .columns-3 .category_list .category_item {
    height: 20.57292rem; }
  .columns-4 .category_list .category_item {
    height: 15.03906rem; }
  .columns-5 .category_list .category_item {
    height: 11.71875rem; }
  .columns-6 .category_list .category_item {
    height: 9.50521rem; } }

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .columns-1 .category_list .category_item {
    height: 16.45833rem; }
  .columns-2 .category_list .category_item {
    height: 16.875rem; }
  .columns-3 .category_list .category_item {
    height: 10.97222rem; }
  .columns-4 .category_list .category_item {
    height: 8.02083rem; }
  .columns-5 .category_list .category_item {
    height: 6.25rem; }
  .columns-6 .category_list .category_item {
    height: 5.06944rem; } }

@media screen and (min-width: 75em) and (max-width: 89.9375em) {
  .columns-1 .category_list .category_item {
    height: 16.45833rem; }
  .columns-2 .category_list .category_item {
    height: 24.10714rem; }
  .columns-3 .category_list .category_item {
    height: 15.6746rem; }
  .columns-4 .category_list .category_item {
    height: 11.45833rem; }
  .columns-5 .category_list .category_item {
    height: 8.92857rem; }
  .columns-6 .category_list .category_item {
    height: 7.24206rem; } }

@media screen and (min-width: 90em) {
  .columns-1 .category_list .category_item {
    height: 16.45833rem; }
  .columns-2 .category_list .category_item {
    height: 34.20608rem; }
  .columns-3 .category_list .category_item {
    height: 22.24099rem; }
  .columns-4 .category_list .category_item {
    height: 16.25845rem; }
  .columns-5 .category_list .category_item {
    height: 12.66892rem; }
  .columns-6 .category_list .category_item {
    height: 10.2759rem; } }

.category_name {
    background-color: rgba(0,0,0,0.4);
}
.category_item{
	text-decoration:none; !important
}